* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
div.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
div.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  overflow: hidden;
}
div.editor {
  background-color: black;
}
canvas#editor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid #222222;
  margin-bottom: 40px;
}
canvas#editor {
  /* width: 1280px;
  height: 672px; */
}
canvas#miniCanvas {
  display: flex;
  background-color: white;
  border: 3px solid #222222;
  cursor: pointer;
}
pre {
  color: white;
}

.gridCanvas {
  position: relative !important;
  border: lightgrey 1px solid;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

button {
  width: 32px;
  margin: 0 0 0 10px;
  background-color: #666666;

  color: black;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
}
button:hover {
  background-color: #333333;
  color: white;
}
div.ctt {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 60px;
  background-image: url("../../images/tiles.png");
  background-repeat: no-repeat;
  display: grid;
  /* background-color: black; */
  grid-template-columns: repeat(5, 32px);
  grid-template-rows: repeat(5, 32px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.ctt > div {
  border: 1px solid black;
}
.ctt > div:hover {
  border: 1px solid white;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
