* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
div.editor {
  background-color: black;
}
canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  cursor: pointer;
}
/* canvas#editor {
  width: 1280px;
  height: 672px;
} */
pre {
  color: white;
}

.gridCanvas {
  position: relative !important;
  border: lightgrey 1px solid;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

button {
  width: 32px;
  margin: 0 0 0 10px;
  background-color: #666666;

  color: black;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
}
button:hover {
  background-color: #333333;
  color: white;
}
